/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Archivos de memoria y reportes
MemoryCaptures/
Recording/

# Archivos de solución de Visual Studio / JetBrains
[Aa]ssets/Plugins/Editor/JetBrains*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de compilación (opcional, por si compilas dentro de la carpeta del proyecto)
*.apk
*.unitypackage
*.exe